
**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__
**/.cache
**/*.swp
**/.eggs
**/*.egg-info
.ipython/
.jupyter/
.local/
.rstudio/
.venv/
**/.idea
**/.vscode
**/*.sif
**/*.ini

**/.env
**/*.ign
**/*.ign.*
**/*.out

miniconda.sh
