
**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__
**/.cache
**/*.swp
**/.eggs
**/*.egg-info
.ipython/
.jupyter/
.local/
.rstudio/
**/.idea
**/.vscode
**/*.sif
**/*.ini

**/.env
**/*.ign
**/*.ign.ipynb
**/*.ign.sh
**/*.ign.jl
**/*nohup.out
